# Not always possible to be strict, but if it works for you, keep it to true.
# https://pnpm.io/next/npmrc#strict-peer-dependencies

strict-peer-dependencies=false
auto-install-peers=false

# Will default in v8
# https://pnpm.io/next/npmrc#use-lockfile-v6
use-lockfile-v6=true


# From 7.29.0, default in v8
# https://github.com/pnpm/pnpm/releases/tag/v7.29.0

dedupe-peer-dependents=true

# Helps with peer-deps (>=7.23.0), default in v8
# https://pnpm.io/npmrc#resolve-peers-from-workspace-root

resolve-peers-from-workspace-root=true
# node-linker = hoisted